
icons_format = " {icon} "

[icons]
icons = "/home/hamish/src/foss/i3status-rust/files/icons/awesome6"

[theme]
theme = "/home/hamish/src/foss/i3status-rust/files/themes/slick.toml"
[theme.overrides]
info_bg = "#ad29c4"
separator = " " # seeing as the powerline glyph didn't work properly

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "memory"
format = " $icon $mem_avail.eng(prefix:M) / $mem_total.eng(prefix:M) free ($mem_used_percents.eng(w:2) used) "
format_alt = " $icon_swap $swap_used_percents.eng(w:2) "
interval = 5
warning_mem = 80
warning_swap = 80
critical_mem = 95
critical_swap = 95

[[block]]
block = "net"
device = "enx00e04c680b84"
interval = 5

[[block]]
block = "cpu"
interval = 1
format = " $barchart $utilization $frequency"

[[block]]
block = "sound"
step_width = 1

[[block]]
block = "backlight"
step_width = 1
invert_icons = true

[[block]]
block = "battery"
interval = 10

[[block]]
block = "time"
interval = 60
