action-history
backups
brushes
colorrc
contextrc
controllerrc
CrashLog
curves
devicerc
dockrc
dynamics
environ
filters
fonts
fractalexplorer
gfig
gflare
gimpressionist
gradients
icons
internal-data
interpreters
levels
modules
palettes
parasiterc
patterns
pluginrc
plug-ins
plug-in-settings
profilerc
scripts
sessionrc
shortcutsrc
tags.xml
templaterc
templates
theme.css
themes
tmp
tool-options
tool-presets
unitrc
