[Unit]
Description=Mount Shared Drives
# After=graphical.target
After=network.target

[Service]
Type=simple
ExecStartPre=sleep 10
ExecStart=wg-quick up abyss
# StandardOutput=inherit
# StandardError=inherit
Restart=no
# Restart=on-failure
# RestartSec=15
User=root

[Install]
WantedBy=default.target
