[Unit]
Description=Perform a system backup (only of relevant directories) using backup-system

[Service]
ExecStart=backup-system
User=hamish

[Install]
WantedBy=multi-user.target