[Unit]
Description=Mount scratch over sshfs with fuse
After=wg-quick@abyss.service

[Install]
WantedBy=multi-user.target

[Mount]
What=hmo@10.137.4.2:/mnt/pond
Where=/mnt/pond
Type=fuse.sshfs
Options=_netdev,allow_other,IdentityFile=/home/hamish/.ssh/id_rsa,reconnect,x-systemd.automount,uid=1000,gid=1000,cache_max_size=1000000,cache_timeout=120